

body {
  height: 100vh;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: rgb(68, 68, 68);
}

input {
  padding: 10px;
  width: 150px;
  border: 2px solid rgb(132, 247, 212);
  border-radius: 8px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(118, 233, 214);
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(86, 134, 134);
  color: white;
}

#timer {
  margin-top: 25px;
  font-size: 40px;
  font-weight: bold;
  color:black;
}
