body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    border: 2px solid;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    font-size:small;
}

.button-container{
    display: flex;
   margin-top: 10px;
    
}
.button{
    border: 2px solid;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(238, 238, 131);

}
